.lang-switcher {
  button {
    background-image: url('../img/language-solid.svg');
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    height: 38px;
    padding-left: 50px;
    margin-left: 10px;
  }
}
