.container
  .row.row-cols-xl-5.row-cols-lg-4.row-cols-md-3.row-cols-2
    each application in getApplications()
      .col.px-2
        .application.my-2
          a(href!=`#${application.id}`)
            img.img-fluid(src=`assets/img/applications_thumbs/${application.id}.jpg`)
            .overlay
              .title
                != application.title
script
  | if (window.MathsEverywhere === undefined) {
  |   window.MathsEverywhere = {};
  | }
  != 'window.MathsEverywhere.applications = ' + JSON.stringify(getApplications()) + ';'

