.section.section-footer
  .container
    .row
      .col-md-4
        .footer-logo-row
          a.footer-logo.logo-imu(href='https://www.mathunion.org/')
            img(src='assets/img/logo-imu.png', alt="International Mathematical Union")
        p
          != str('footer_imu')
      .col-md-8.col-logos-r
        .footer-logo-row
          a.footer-logo.logo-imaginary(href='https://www.imaginary.org/')
            img(src='assets/img/logo-imaginary-footer.png' alt='IMAGINARY')
          a.footer-logo.logo-kts(href='https://www.klaus-tschira-stiftung.de/')
            img(src='assets/img/logo-kts-footer.png' alt='Klaus Tschira Stiftung gemeinnützige GmbH')
        p
          !=str('footer_kts')
        p
          !=str('footer_mathigon') + ' ' + str('footer_license')
    .row
      nav.nav
        a.nav-link(href='https://www.idm314.org/')
          != str('main_site')
        a.nav-link(href='https://www.idm314.org/impressum.html')
          != str('impressum')
        a.nav-link(href='https://www.idm314.org/privacy_policy.html')
          != str('privacy_policy')
    .row
      .col
        p.copyright
          | &copy; 2019 International Mathematical Union

